@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");

:root {
  --primary: rgb(255, 255, 255);
  --footer-text: rgb(126, 126, 126);
  --main-text-color: rgba(57, 69, 82, 0.883);

  --font-weight: 300;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.text {
  color: var(--main-text-color);
  font-weight: var(--font-weight);
  padding-bottom: 4rem;
  margin: 0;
}
