.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
      #ffffff,
      #cacaca3b,
      #ffffff2d,
      rgba(247, 247, 247, 0.315),
      rgba(247, 247, 247, 0.76),
      rgb(247, 247, 247)
    ),
    url("../assets/eagle2.jpg");
  background-position: 0% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
@media screen and (max-width: 756px) {
  .container {
    background-position: 50% 35%;
    height: 25vh;
  }
}
